.home-area {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mc-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.tf-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.tf-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
* {
    font-size: 20;
}